
body, html {
    height: 100%;
    margin: 0;
}
#bg{
    background-image: url("https://i.ytimg.com/vi/qgBkU2rc3sA/maxresdefault.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#hello{
    color: white;
    font-size: 700%;
    font-family: 'Lobster', cursive;
}
