
body, html {
    height: 100%;
    margin: 0;
}

#btn1:hover {
    cursor: pointer;
    background: rgb(140, 104, 150);
    color:rgb(98, 145, 197);
    height: 200px;
    width: 400px;
    border-radius: 6px;

}
#btn2:hover {
    cursor: pointer;
    background: rgb(154,89,89);
    color:rgb(71,18,18);
    height: 200px;
    width: 400px;
    border-radius: 6px;

    ;
}
#btn3:hover {
    cursor: pointer;
    background: rgb(12,13,73);
    color:rgb(42,59,144);
    height: 200px;
    width: 400px;
    border-radius: 6px;

    ;
}
#btn4:hover {
    cursor: pointer;
    background: rgb(215,185,99);
    color:rgb(253,239,239);
    height: 200px;
    width: 400px;
    border-radius: 6px;
}
#bg{
    /* The image used */
    background-image: url("https://cdn.pixabay.com/photo/2015/09/02/12/30/foot-bridge-918476_960_720.jpg");

    /* Full height */
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#hello{
    color: white;
    font-size: 350%;
    font-family: "Courier New", Courier, monospace;
}

.btnn {
    background: none;
    border: none;
    color: gray;
}

.size {
    height: 100px;
    width: 200px;
}