/* URL */
/* Direct */
body, html {
    height: 100%;
    margin: 0;
}
#bg{
    /* The image used */
    background-image: url("https://cdn.pixabay.com/photo/2015/09/02/12/30/foot-bridge-918476_960_720.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#hello{
    color: white;
    font-size: 350%;
    font-family: "Courier New", Courier, monospace;
    position: absolute;
    left: 35%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation-duration: 3s;
}
.btnn {
    background: none;
    border: none;
    color: gray;
}
