
body, html {
    height: 100vh;
    width: 100vw;
    margin: 0;
}

#btn1:hover {
    cursor: pointer;
    background: rgb(140, 104, 150);
    color:rgb(98, 145, 197);
}

#bg{
    /* The image used */
    background-image: url("https://cdn.pixabay.com/photo/2015/09/02/12/30/foot-bridge-918476_960_720.jpg");


    /* FLEX */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Full height */
    width: 100%;
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#hello{
    color: white;
    font-size: 350%;
    font-family: "Courier New", Courier, monospace;
}



.btnn {
    background: none;
    border: none;
    color: gray;
}

.size {
    height: 100px;
    width: 200px;
}